$color: green;
$color2: purple;

/******************************************************************
	FONTS
******************************************************************/

$font-main-1: "Montserrat-regular";
$font-main-2: "Montserrat-italic";
$font-main-3: "Montserrat-bold";