

.canvas {
    &__wrapper {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    &__template {
        border: 1px solid black;
    }

    &__drawing {
        border: 1px solid black;
    }
}